Repository home-assistant/hassbian-scripts, pull requests merged in 2019-04, with the labels that each got.

#252 Change discord channel name in "error" messages.
  package/usr/local/bin/hassbian-config
Labels: cla-signed

#256 Add c_rehash to installation script
  package/opt/hassbian/suites/homeassistant.sh
Labels: bug, cla-signed

#257 Remove mention of Google Home from component
  docs/hue.md
  package/opt/hassbian/suites/hue.sh
Labels: cla-signed, enhancement

#258 Remove homebridge
  README.md
  docs/homebridge.md
  package/opt/hassbian/suites/homebridge.sh
Labels: cla-signed, enhancement

#251 Cloud9: Adds authentication
  docs/cloud9.md
  package/opt/hassbian/suites/cloud9.sh
  package/opt/hassbian/suites/files/cloud9.service
Labels: cla-signed, enhancement, script: cloud9

#263 hassbian-script: Use osrelease to select stretch/buster
  package/opt/hassbian/suites/hassbian-script.sh
Labels: Buster, cla-signed, suite: hassbian-script

#265 PostgreSQL: Use version 11 on newer images
  package/opt/hassbian/suites/postgresql.sh
Labels: Buster, cla-signed, suite: postgresql

#262 Mosquitto: Force stretch repo
  package/opt/hassbian/suites/mosquitto.sh
Labels: Buster, cla-signed, suite: mosquitto

#261 MSSQL: Adds Cython package
  package/opt/hassbian/suites/mssql.sh
Labels: Buster, cla-signed, suite: mssql

#264 mariadb: Adds default-libmysqlclient-dev
  package/opt/hassbian/suites/mariadb.sh
Labels: Buster, cla-signed, suite: mariadb

#260 Service: Use correct TimeoutSec option.
  package/etc/systemd/system/install_homeassistant.service
Labels: cla-signed

#255 Preparations for Python 3.5 D-Day.
  docs/python.md
  package/etc/bash_completion.d/hassbian-config
  package/opt/hassbian/suites/homeassistant.sh
  package/opt/hassbian/suites/python.sh
  package/usr/local/bin/hassbian-config
Labels: cla-signed, suite: homeassistant, suite: python
